.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.okendo-widget-container {
  max-width: 960px;
  margin: 5em auto;
}

.okeReviews .okeReviews-reviewsWidget-header-controls-writeReview {
    visibility: visible;
}

.okeReviews .okeReviews-reviewsWidget.is-okeReviews-empty {
    display: block;
}
